.please-wait {
  margin-top: 20px;
  font-size: 20px;
}

.heroes-container {
  width: 87%;
  margin: auto;
}

.hero {
  width: 250px;
  height: 250px;
  float: left;
  margin: 20px;
  position: relative;
}

.hero-image-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
}

.hero-imageurl {
  width: 100%;
  position: relative;
  top: -35px;
}

.hero-name, .carousel-hero-name, .carousel-hero-description {
  font-size: 26px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
  position: absolute;
  z-index: 1000;
  width: 100%;
  text-align: center;
  margin-top: 6px;
}

.carousel-hero-name, .carousel-hero-description {
  z-index: 3000;
  font-size: 40px;
}

.carousel-hero-description {
  font-size: 30px;
  bottom: 25px;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 1px white;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: rgba(255,255,255,0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 7%;
}

.modal-hide {
  display: none;
}

.modal-show {
  display: block;
}

.carousel-container {
  width: 65%;
  margin: auto;
}

.carousel-hero-imageurl {
  width: 60%;
}

.previous-btn, .next-btn {
  color: white;
  background-color: red;
  border-radius: 50px;
  margin: 15px;
  width: 90px;
  height: 30px;
  font-size: 15px;
}

.previous-btn:focus, .next-btn:focus {
  outline: none;
}